h1{
    font-family: 'Bebas Neue';
    font-style: normal;
    font-size: 80px;
    font-weight: lighter;
    line-height: 15px

}
h2{
    color: #363958;
    font-size: 60px;
    font-family: 'Bebas Neue';
    font-weight: lighter;
    

}



p{
    color: #3E3E3E;
    font-family: 'Roboto';
    font-size: 20px;
    font-style: normal;
    
    
    

}

.main-head{
    color: #ff8967;
    
    
}
.second{
    color: #363958;
}

section{
    height: 500px;
    padding-bottom: 180px;
}



.first-portion{
    width: 40%;
    float: left;
    margin-left: 8%;
    padding-left: 2%;

}
.first-portion img{
    width: 80%;
}

.link-button{
    color: white;
    text-decoration: none;
    background: linear-gradient(0deg, #FF8063 -28.33%, #F46060 95.83%);
    padding: 10px 25px;
    border-radius: 6px;


}
.link-buttons{
    color: white;
    text-decoration: none;
    background: linear-gradient(0deg, #FF8063 -28.33%, #F46060 95.83%);
    padding: 10px 25px;
    border-radius: 6px;
}